*
!*/
!/.gitignore
!/webpack.config.js
!/NOTICE.md
!/README.md
!/images/*.png
!/.vscode/*.json
!/resources/*.html
!/package.json
!/package-lock.json
!/.github/workflows/*.yml
!/tsconfig.json
!/.eslintrc.json
!/src/**/*.ts
!/test/**/*.ts
!/test/vscode/fixture/*
!/test/performance/*.ts
